# **Analise de Faturamento entre os Reportes de Incentivos_Familia & Detalle_de_ventas**

# Para que funcione corretamente suba os arquivos de Incentivos_Familia e Detalle_de_ventas na pasta **MyDrive/Colab Notebooks/Mondelez_COLEC** do seu Drive e devem se chamar exatamente

*   MC1_INT_CSV_Incentivos_Familia.CSV
*   MC1_INT_CSV_Detalle_de_ventas.CSV

# Importandos Bibliotecas necessários para analise

# **Instruções de Uso**


1.   Execute somente a Primeira célula para montar o Drive do Google
2.   Ele irá solicitar acesso ao seu drive, conceda. Deverá aparecer a seguinte mensagem ao terminar, "Mounted at /content/drive"
3.   Após execute a 2ª célula. Deverá aparecer a seguinte mensagem ao terminar, "Pasta criada com sucesso!"
4.   Abra o seu google drive procure pela pasta "Colab Notebooks/Mondelez_COLEC"
5.   Copie os arquivos gerados para a pasta mencionada acima. Conforme instruções.
6.   Execute toda cadeia de execuções através do atalho "CRTL + F9" ou vá em Ambiente de Execução / Executar Tudo

***Para que funcione corretamente suba os arquivos de Incentivos_Familia e Detalle_de_ventas na pasta Colab Notebooks/Mondelez_COLEC do seu Drive e devem se chamar exatamente MC1_INT_CSV_Incentivos_Familia.CSV e MC1_INT_CSV_Detalle_de_ventas.CSV***

In [1]:
# 1ª CELULA

import os
#import wget

import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt
from pathlib import Path
# from sklearn.model_selection import train_test_split
# from sklearn import metrics
# from sklearn.ensemble import RandomForestClassifier
#from google.colab import drive

#drive.mount('/content/drive')

#Paramtros de aceitação de diferença entre os 2 reportes para Analise por vendedor
nStart = 5000
nStart2 = -5000

nStartFaturamento = 50000

In [41]:
# 2ª CELULA
separator = ","
path = Path("./")
path.mkdir(parents=True, exist_ok=True)

print('Pasta criada com sucesso!')

Pasta criada com sucesso!

In [42]:
path_incentivos_familia = r"./MC1_INT_CSV_Incentivos_Familia.CSV"
path_detalhe_de_vendas = r"./MC1_INT_CSV_Detalle_de_ventas.CSV"
path_clientes_relacionados = r"./MC1_INT_CSV_Clientes_Relacionados.CSV"

# Incentivos Familia - Tratamento do Arquivo

In [43]:
incentivosfamilia = pd.read_csv(path_incentivos_familia, sep=separator)

incentivosfamilia['Venta_SO_ML_sin_IVA'] = incentivosfamilia['Venta_SO_ML_sin_IVA'].str.replace('.','')
incentivosfamilia['Venta_SO_ML_sin_IVA'] = incentivosfamilia['Venta_SO_ML_sin_IVA'].str.replace(',','.')
incentivosfamilia['Venta_SO_ML_sin_IVA'] = incentivosfamilia['Venta_SO_ML_sin_IVA'].astype(float)

incentivosfamilia['Codigo_Cliente_SI'] = incentivosfamilia['Codigo_Cliente_SI'].astype(object)
incentivosfamilia['Codigo_Asesor'] = incentivosfamilia['Codigo_Asesor'].astype(object)
incentivosfamilia['Codigo_Vendedor'] = incentivosfamilia['Codigo_Vendedor'].astype(object)
incentivosfamilia['Codigo Modelo de Venta'] = incentivosfamilia['Codigo Modelo de Venta'].astype(object)
incentivosfamilia['Ano'] = incentivosfamilia['Ano'].astype(object)
incentivosfamilia['Periodo'] = incentivosfamilia['Periodo'].astype(object)
incentivosfamilia['Periodo'] = incentivosfamilia['Periodo'].astype(object)

incentivosfamilia = incentivosfamilia.rename(columns={'Codigo Zona-Ruta' : 'Codigo_Zona_Ruta'})

In [44]:
#incentivosfamilia.info()

# Incentivos Familia - Totalizando

In [45]:
table_if =  pd.DataFrame({
                    'Codigo_Asesor': incentivosfamilia['Codigo_Asesor']
                    ,'Nombre_Asesor': incentivosfamilia['Codigo_Asesor']
                    ,'Codigo_Vendedor': incentivosfamilia['Codigo_Vendedor']
                    ,'Nombre_Vendedor': incentivosfamilia['Nombre_Vendedor']
                    ,'Codigo_Zona_Ruta': incentivosfamilia['Codigo_Zona_Ruta']
                    ,'Venta_SO_ML_sin_IVA': incentivosfamilia['Venta_SO_ML_sin_IVA']
                    #})
                    #}).sum()
                    }).groupby(['Codigo_Asesor','Nombre_Asesor','Codigo_Vendedor','Nombre_Vendedor','Codigo_Zona_Ruta']).sum()
table_if = table_if.rename(columns={'Venta_SO_ML_sin_IVA': 'Venta_SO_ML_sin_IVA_IF'})

#display(table_if)

# Incentivos Familia - Verificando se existem valores em Branco = ISNULL

In [46]:
table_if[table_if.Venta_SO_ML_sin_IVA_IF.isna()]

Empty DataFrame
Columns: [Venta_SO_ML_sin_IVA_IF]
Index: []

# Detalhe de Vendas - Tratamento do Arquivo

In [47]:
detalhe_de_vendas = pd.read_csv(path_detalhe_de_vendas, sep=separator)

detalhe_de_vendas['Venta_SO_ML_sin_IVA'] = detalhe_de_vendas['Venta_SO_ML_sin_IVA'].str.replace('.','')
detalhe_de_vendas['Venta_SO_ML_sin_IVA'] = detalhe_de_vendas['Venta_SO_ML_sin_IVA'].str.replace(',','.')
detalhe_de_vendas['Venta_SO_ML_sin_IVA'] = detalhe_de_vendas['Venta_SO_ML_sin_IVA'].astype(float)

detalhe_de_vendas['IVA'] = detalhe_de_vendas['IVA'].str.replace('.','')
detalhe_de_vendas['IVA'] = detalhe_de_vendas['IVA'].str.replace(',','.')
detalhe_de_vendas['IVA'] = detalhe_de_vendas['IVA'].astype(float)

detalhe_de_vendas['Venta_SO_ML_con_IVA'] = detalhe_de_vendas['Venta_SO_ML_con_IVA'].str.replace('.','')
detalhe_de_vendas['Venta_SO_ML_con_IVA'] = detalhe_de_vendas['Venta_SO_ML_con_IVA'].str.replace(',','.')
detalhe_de_vendas['Venta_SO_ML_con_IVA'] = detalhe_de_vendas['Venta_SO_ML_con_IVA'].astype(float)

detalhe_de_vendas['Descuento'] = detalhe_de_vendas['Descuento'].str.replace('.','')
detalhe_de_vendas['Descuento'] = detalhe_de_vendas['Descuento'].str.replace(',','.')
detalhe_de_vendas['Descuento'] = detalhe_de_vendas['Descuento'].astype(float)

detalhe_de_vendas['Peso_por_display_KG'] = detalhe_de_vendas['Peso_por_display_KG'].str.replace('.','')
detalhe_de_vendas['Peso_por_display_KG'] = detalhe_de_vendas['Peso_por_display_KG'].str.replace(',','.')
detalhe_de_vendas['Peso_por_display_KG'] = detalhe_de_vendas['Peso_por_display_KG'].astype(float)

detalhe_de_vendas['Cantidad_de_venta_en_TON'] = detalhe_de_vendas['Cantidad_de_venta_en_TON'].str.replace('.','')
detalhe_de_vendas['Cantidad_de_venta_en_TON'] = detalhe_de_vendas['Cantidad_de_venta_en_TON'].str.replace(',','.')
detalhe_de_vendas['Cantidad_de_venta_en_TON'] = detalhe_de_vendas['Cantidad_de_venta_en_TON'].astype(float)

detalhe_de_vendas['Venta_en_Cajas'] = detalhe_de_vendas['Venta_en_Cajas'].str.replace('.','')
detalhe_de_vendas['Venta_en_Cajas'] = detalhe_de_vendas['Venta_en_Cajas'].str.replace(',','.')
detalhe_de_vendas['Venta_en_Cajas'] = detalhe_de_vendas['Venta_en_Cajas'].astype(float)

detalhe_de_vendas['Codigo_Cliente_SI'] = detalhe_de_vendas['Codigo_Cliente_SI'].astype(object)
detalhe_de_vendas['Codigo_Asesor'] = detalhe_de_vendas['Codigo_Asesor'].astype(object)
detalhe_de_vendas['Codigo_Vendedor'] = detalhe_de_vendas['Codigo_Vendedor'].astype(object)
detalhe_de_vendas['Codigo_PDV'] = detalhe_de_vendas['Codigo_PDV'].astype(object)
detalhe_de_vendas['Codigo_PDV_2'] = detalhe_de_vendas['Codigo_PDV_2'].astype(object)
detalhe_de_vendas['Latitud'] = detalhe_de_vendas['Latitud'].astype(object)
detalhe_de_vendas['nLongitud'] = detalhe_de_vendas['nLongitud'].astype(object)
detalhe_de_vendas['Codigo_Tipo_de_Negocio_PDV'] = detalhe_de_vendas['Codigo_Tipo_de_Negocio_PDV'].astype(object)
detalhe_de_vendas['Codigo_Cluster_PDV'] = detalhe_de_vendas['Codigo_Cluster_PDV'].astype(object)
detalhe_de_vendas['codigo_de_Tipo_de_Ruta'] = detalhe_de_vendas['codigo_de_Tipo_de_Ruta'].astype(object)
detalhe_de_vendas['orden_de_visita_realizada'] = detalhe_de_vendas['orden_de_visita_realizada'].astype(object)
detalhe_de_vendas['Numero_de_Documento_Legal'] = detalhe_de_vendas['Numero_de_Documento_Legal'].astype(object)
detalhe_de_vendas['Cod_Combo'] = detalhe_de_vendas['Cod_Combo'].astype(object)
detalhe_de_vendas['Descripcion_Combo'] = detalhe_de_vendas['Descripcion_Combo'].astype(object)
detalhe_de_vendas['Cant_Combo'] = detalhe_de_vendas['Cant_Combo'].astype(object)
detalhe_de_vendas['Cod_Surtido'] = detalhe_de_vendas['Cod_Surtido'].astype(object)
detalhe_de_vendas['Descripcion_Surtido'] = detalhe_de_vendas['Descripcion_Surtido'].astype(object)
detalhe_de_vendas['Cant_Surtido'] = detalhe_de_vendas['Cant_Surtido'].astype(object)
detalhe_de_vendas['Cod_Articulo_MDLZ'] = detalhe_de_vendas['Cod_Articulo_MDLZ'].astype(object)
detalhe_de_vendas['Cod_Articulo_SAP'] = detalhe_de_vendas['Cod_Articulo_SAP'].astype(object)
detalhe_de_vendas['Cod_Articulo_SAP'] = detalhe_de_vendas['Cod_Articulo_SAP'].astype(object)



# detalhe_de_vendas['Real_DISPLAYS'] = detalhe_de_vendas['Real_DISPLAYS'].str.replace('.','')
# detalhe_de_vendas['Real_DISPLAYS'] = detalhe_de_vendas['Real_DISPLAYS'].str.replace(',','.')
# detalhe_de_vendas['Real_DISPLAYS'] = detalhe_de_vendas['Real_DISPLAYS'].astype(float)

# detalhe_de_vendas['Precio_Display'] = detalhe_de_vendas['Real_DISPLAYS'].str.replace('.','')
# detalhe_de_vendas['Precio_Display'] = detalhe_de_vendas['Real_DISPLAYS'].str.replace(',','.')
# detalhe_de_vendas['Precio_Display'] = detalhe_de_vendas['Real_DISPLAYS'].astype(float)

C:\Users\dfurukawa\AppData\Local\Temp\ipykernel_5964\1197574021.py:1: DtypeWarning: Columns (18,26,28,37,39,40,41,42,49,50,51,52,53,54,55,56,57,58,59) have mixed types. Specify dtype option on import or set low_memory=False.
  detalhe_de_vendas = pd.read_csv(path_detalhe_de_vendas, sep=separator)

# Detalhe de Vendas - Informações sobre a tabela

In [48]:
#detalhe_de_vendas.info()

# Detalhe de Vendas - Totalizando Faturamento

In [49]:
table_dv =  pd.DataFrame({
                    'Codigo_Asesor': detalhe_de_vendas['Codigo_Asesor']
                    ,'Nombre_Asesor': detalhe_de_vendas['Codigo_Asesor']
                    ,'Codigo_Vendedor': detalhe_de_vendas['Codigo_Vendedor']
                    ,'Nombre_Vendedor': detalhe_de_vendas['Nombre_Vendedor']
                    ,'Codigo_Zona_Ruta': detalhe_de_vendas['Codigo_Zona_Ruta']
                    ,'Venta_SO_ML_sin_IVA': detalhe_de_vendas['Venta_SO_ML_sin_IVA']
                    #})
                    #}).sum()
                    }).groupby(['Codigo_Asesor','Nombre_Asesor','Codigo_Vendedor','Nombre_Vendedor','Codigo_Zona_Ruta']).sum()
table_dv = table_dv.rename(columns={'Venta_SO_ML_sin_IVA': 'Venta_SO_ML_sin_IVA_DV'})
#table_dv.info()
#display(table_dv)

# Detalhe de Vendas - Verificando se existem valores em Branco = ISNULL

In [50]:
table_dv[table_dv.Venta_SO_ML_sin_IVA_DV.isna()]

Empty DataFrame
Columns: [Venta_SO_ML_sin_IVA_DV]
Index: []

# Clientes Relacionados - Tratamento do Arquivo

In [51]:
clientesrelacionados = pd.read_csv(path_clientes_relacionados, sep=separator)
clientesrelacionados_df =  pd.DataFrame({
    'Codigo_PDV': clientesrelacionados['Codigo_PDV']
    ,'Descripcion_Subcanal': clientesrelacionados['Descripcion_Subcanal']
    ,'Codigo_Tipo_de_Negocio_PDV': clientesrelacionados['Codigo_Tipo_de_Negocio_PDV']
    ,'Descripcion_Tipo_de_Negocio_PDV': clientesrelacionados['Descripcion_Tipo_de_Negocio_PDV']
    ,'Codigo_Cluster_PDV': clientesrelacionados['Codigo_Cluster_PDV']
    ,'Descripcion_Cluster_PDV': clientesrelacionados['Descripcion_Cluster_PDV']
    })

clientes_relacionados_vacios = clientesrelacionados_df[
    
     clientesrelacionados_df.Codigo_Tipo_de_Negocio_PDV.isna() 
    | clientesrelacionados_df.Descripcion_Tipo_de_Negocio_PDV.isna()    
    | clientesrelacionados_df.Codigo_Cluster_PDV.isna()
    #| clientesrelacionados_2024_01_24_05_30_22.Descripcion_Cluster_PDV.isna()
]   


clientes_relacionados_vacios = clientes_relacionados_vacios.set_index('Codigo_PDV')

type(clientes_relacionados_vacios)

display(clientes_relacionados_vacios)

C:\Users\dfurukawa\AppData\Local\Temp\ipykernel_5964\2526766618.py:1: DtypeWarning: Columns (21,34,38,42,49,51,80) have mixed types. Specify dtype option on import or set low_memory=False.
  clientesrelacionados = pd.read_csv(path_clientes_relacionados, sep=separator)

,Descripcion_Subcanal,Codigo_Tipo_de_Negocio_PDV,Descripcion_Tipo_de_Negocio_PDV,Codigo_Cluster_PDV,Descripcion_Cluster_PDV
Codigo_PDV,,,,,
100110969,NaN,0,NaN,0,NaN
100853661,NaN,NaN,NaN,NaN,NaN
100856994,NaN,NaN,NaN,NaN,NaN
1008512,TDS,47,Tienda Bodega/Barrio,NaN,NaN
1003690,TDS,53,Esp Panaderia,NaN,NaN
1003690,TDS,53,Esp Panaderia,NaN,NaN
1019845,TDS,51,Especializado,NaN,NaN
1012778,TDS,51,Especializado,NaN,NaN
552360,TDS,TRANSACCIONAL,NaN,TIENDA DE BARRIO,NaN
840639,TDS,ESPECIALIZADO,NaN,CAFETERIA,NaN
864618,TDS,TRANSACCIONAL,NaN,PUESTO AL PASO,NaN
864618,TDS,TRANSACCIONAL,NaN,PUESTO AL PASO,NaN
93524,TDS,TRANSACCIONAL,NaN,TIENDA DE BARRIO,NaN
939680,TDS,TRANSACCIONAL,NaN,TIENDA DE BARRIO,NaN
955717,TDS,TRANSACCIONAL,NaN,PUESTO AL PASO,NaN
966169,TDS,TRANSACCIONAL,NaN,TIENDA DE BARRIO,NaN

In [52]:
clientesrelacionados_CampoEmBranco = clientesrelacionados[clientesrelacionados.Codigo_Tipo_de_Negocio_PDV.isna() 
                                                          | clientesrelacionados.Codigo_Modelo_de_Venta.isna()
                                                          | clientesrelacionados.Cod_tipo_Identificacion.isna()
                                                          | clientesrelacionados.Objetivo_De_Venta.isna()
                                                            ]

In [53]:
display(clientesrelacionados_CampoEmBranco)

,Pais,Codigo_Cliente_SI,Descripcion_Cliente_SI,Codigo_Canal,Descripcion_Canal,Codigo_Subcanal,Descripcion_Subcanal,Codigo_Region,Descripcion_Region,Codigo_Subregion,...,Codigo_Lista_de_Precios,Descripcion_Lista_de_Precios,Moneda,Moneda_Nombre,Objetivo_De_Venta,Maximo_Descuento,Retencion,Valores_Pendientes_De_Cancelar,Pedido_Minimo,Credito_Asignado
9660,Colombia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,931,Precio CAPS,COP,Peso Colombiano,0.0,0.0,0.0,0.0,0.00,0.00
34254,Colombia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,931,Precio CAPS,COP,Peso Colombiano,0.0,0.0,0.0,0.0,0.00,"12,666,666.00"
34294,Colombia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,931,Precio CAPS,COP,Peso Colombiano,0.0,0.0,0.0,0.0,0.00,"12,666,666.00"
37857,Colombia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,931,Precio CAPS,COP,Peso Colombiano,0.0,0.0,0.0,0.0,0.00,"5,000,000.00"

In [54]:
clientesrelacionados_CampoEmBranco.to_excel("Clientes_Relacionaos_Campos_Branco.xlsx")

# Juntando Tabelas

In [17]:
df_Main_Incentivos =  pd.DataFrame({
    'Codigo_Vendedor': incentivosfamilia['Codigo_Vendedor']
    ,'Nombre_Vendedor': incentivosfamilia['Nombre_Vendedor']                
    ,'Codigo_Zona_Ruta': incentivosfamilia['Codigo_Zona_Ruta']
    ,'Codigo_Asesor': incentivosfamilia['Codigo_Asesor']
    ,'Nombre_Asesor': incentivosfamilia['Codigo_Asesor']                    
    })


df_Main_Incentivos = df_Main_Incentivos.set_index('Codigo_Vendedor')

df_Main_Incentivos.drop_duplicates(inplace=True)

df_Main_Incentivos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 246 entries, 31004759 to 31004758
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre_Vendedor   246 non-null    object
 1   Codigo_Zona_Ruta  246 non-null    object
 2   Codigo_Asesor     246 non-null    object
 3   Nombre_Asesor     246 non-null    object
dtypes: object(4)
memory usage: 9.6+ KB

In [18]:
df_Main_Incentivos.to_excel("IncentivosFamilia_Sem_Valor.xlsx")

In [19]:
df_Main_DetalheVentas =  pd.DataFrame({
    'Codigo_Vendedor': detalhe_de_vendas['Codigo_Vendedor']
    ,'Nombre_Vendedor': detalhe_de_vendas['Nombre_Vendedor']                
    ,'Codigo_Zona_Ruta': detalhe_de_vendas['Codigo_Zona_Ruta']
    ,'Codigo_Asesor': detalhe_de_vendas['Codigo_Asesor']
    ,'Nombre_Asesor': detalhe_de_vendas['Codigo_Asesor']                    
    })

df_Main_DetalheVentas = df_Main_DetalheVentas.set_index('Codigo_Vendedor')

df_Main_DetalheVentas.drop_duplicates(inplace=True)

df_Main_DetalheVentas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 248 entries, 31004260 to 31001686
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre_Vendedor   248 non-null    object
 1   Codigo_Zona_Ruta  248 non-null    object
 2   Codigo_Asesor     248 non-null    object
 3   Nombre_Asesor     248 non-null    object
dtypes: object(4)
memory usage: 9.7+ KB

In [20]:
df_Main_DetalheVentas.to_excel("DetalheVentas_Sem_Valor.xlsx")

In [21]:
df_merged = df_Main_Incentivos.merge(df_Main_DetalheVentas, on='Codigo_Vendedor', how='outer')

df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 248 entries, 31004759 to 31001686
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nombre_Vendedor_x   246 non-null    object
 1   Codigo_Zona_Ruta_x  246 non-null    object
 2   Codigo_Asesor_x     246 non-null    object
 3   Nombre_Asesor_x     246 non-null    object
 4   Nombre_Vendedor_y   248 non-null    object
 5   Codigo_Zona_Ruta_y  248 non-null    object
 6   Codigo_Asesor_y     248 non-null    object
 7   Nombre_Asesor_y     248 non-null    object
dtypes: object(8)
memory usage: 17.4+ KB

In [22]:
df_merged.isna().sum()

Nombre_Vendedor_x     2
Codigo_Zona_Ruta_x    2
Codigo_Asesor_x       2
Nombre_Asesor_x       2
Nombre_Vendedor_y     0
Codigo_Zona_Ruta_y    0
Codigo_Asesor_y       0
Nombre_Asesor_y       0
dtype: int64

In [23]:
df_merged = df_merged.reset_index()
df_merged.to_excel("Merge.xlsx")

In [24]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Codigo_Vendedor     248 non-null    int64
 1   Nombre_Vendedor_x   246 non-null    object
 2   Codigo_Zona_Ruta_x  246 non-null    object
 3   Codigo_Asesor_x     246 non-null    object
 4   Nombre_Asesor_x     246 non-null    object
 5   Nombre_Vendedor_y   248 non-null    object
 6   Codigo_Zona_Ruta_y  248 non-null    object
 7   Codigo_Asesor_y     248 non-null    object
 8   Nombre_Asesor_y     248 non-null    object
dtypes: int64(1), object(8)
memory usage: 17.6+ KB

In [25]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Codigo_Vendedor     248 non-null    int64
 1   Nombre_Vendedor_x   246 non-null    object
 2   Codigo_Zona_Ruta_x  246 non-null    object
 3   Codigo_Asesor_x     246 non-null    object
 4   Nombre_Asesor_x     246 non-null    object
 5   Nombre_Vendedor_y   248 non-null    object
 6   Codigo_Zona_Ruta_y  248 non-null    object
 7   Codigo_Asesor_y     248 non-null    object
 8   Nombre_Asesor_y     248 non-null    object
dtypes: int64(1), object(8)
memory usage: 17.6+ KB

In [26]:
df_Final =  pd.DataFrame({
    'Codigo_Vendedor': df_merged['Codigo_Vendedor']
    ,'Nombre_Vendedor': df_merged['Nombre_Vendedor_x']                
    ,'Codigo_Zona_Ruta': df_merged['Codigo_Zona_Ruta_x']
    ,'Codigo_Asesor': df_merged['Codigo_Asesor_x']
    ,'Nombre_Asesor': df_merged['Codigo_Asesor_x']                    
    })

In [27]:
df_Final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Codigo_Vendedor   248 non-null    int64
 1   Nombre_Vendedor   246 non-null    object
 2   Codigo_Zona_Ruta  246 non-null    object
 3   Codigo_Asesor     246 non-null    object
 4   Nombre_Asesor     246 non-null    object
dtypes: int64(1), object(4)
memory usage: 9.8+ KB

# Detalhe de Vendas - Somando valores por Vendedor

In [28]:
df_Final = df_Final.set_index('Codigo_Vendedor')

df_Final.drop_duplicates(inplace=True)

df_Final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 247 entries, 31004759 to 31003857
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre_Vendedor   246 non-null    object
 1   Codigo_Zona_Ruta  246 non-null    object
 2   Codigo_Asesor     246 non-null    object
 3   Nombre_Asesor     246 non-null    object
dtypes: object(4)
memory usage: 9.6+ KB

In [29]:

df_Final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 247 entries, 31004759 to 31003857
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre_Vendedor   246 non-null    object
 1   Codigo_Zona_Ruta  246 non-null    object
 2   Codigo_Asesor     246 non-null    object
 3   Nombre_Asesor     246 non-null    object
dtypes: object(4)
memory usage: 9.6+ KB

In [30]:

df_Final['Venta_SO_ML_sin_IVA_DV'] =  pd.DataFrame({'Codigo_Vendedor': detalhe_de_vendas['Codigo_Vendedor']
                          ,'Venta_SO_ML_sin_IVA': detalhe_de_vendas['Venta_SO_ML_sin_IVA']
                    }).groupby(['Codigo_Vendedor']).sum()

In [31]:

display(df_Final)

,Nombre_Vendedor,Codigo_Zona_Ruta,Codigo_Asesor,Nombre_Asesor,Venta_SO_ML_sin_IVA_DV
Codigo_Vendedor,,,,,
31004759,Johan Stiven Santibanez Ramirez,C005C054002,26,26,19141755.33
31004761,German Esteban Pena Jara,C005C053906,26,26,24731361.68
31007247,Andres Mazo Ortiz,C003C031717,14,14,8912655.28
31007248,Dayana Andrea Chavarria Cardenas,C003C031707,14,14,8099456.50
31007430,Mariana Vallejo David,C003C031501,15,15,7524032.91
...,...,...,...,...,...
31004680,Luisa Maria Hernadez Montoya,C003C031708,14,14,16190470.02
31004714,Linda Gonzalez,C007C052715,26,26,8640316.78
31004715,Maryely Rivera Argaez,C003C031702,17,17,16872896.26
31004758,Valentina Ceron Uribe,C003C031605,16,16,20957932.13
31003857,NaN,NaN,NaN,NaN,0.00

# Incentivos Familia - Somando valores por Vendedor

In [32]:

df_Final['Venta_SO_ML_sin_IVA_IF'] =  pd.DataFrame({'Codigo_Vendedor': incentivosfamilia['Codigo_Vendedor']
                          ,'Venta_SO_ML_sin_IVA': incentivosfamilia['Venta_SO_ML_sin_IVA']
                    }).groupby(['Codigo_Vendedor']).sum()

In [33]:
#df_Final.info()

display(df_Final)

,Nombre_Vendedor,Codigo_Zona_Ruta,Codigo_Asesor,Nombre_Asesor,Venta_SO_ML_sin_IVA_DV,Venta_SO_ML_sin_IVA_IF
Codigo_Vendedor,,,,,,
31004759,Johan Stiven Santibanez Ramirez,C005C054002,26,26,19141755.33,1.914176e+07
31004761,German Esteban Pena Jara,C005C053906,26,26,24731361.68,2.473136e+07
31007247,Andres Mazo Ortiz,C003C031717,14,14,8912655.28,8.912655e+06
31007248,Dayana Andrea Chavarria Cardenas,C003C031707,14,14,8099456.50,8.099456e+06
31007430,Mariana Vallejo David,C003C031501,15,15,7524032.91,7.524033e+06
...,...,...,...,...,...,...
31004680,Luisa Maria Hernadez Montoya,C003C031708,14,14,16190470.02,1.619047e+07
31004714,Linda Gonzalez,C007C052715,26,26,8640316.78,8.640317e+06
31004715,Maryely Rivera Argaez,C003C031702,17,17,16872896.26,1.687290e+07
31004758,Valentina Ceron Uribe,C003C031605,16,16,20957932.13,2.095793e+07
31003857,NaN,NaN,NaN,NaN,0.00,NaN

In [34]:

df_Final = df_Final.fillna(0)

df_Final['Diff'] = df_Final['Venta_SO_ML_sin_IVA_DV'] - df_Final['Venta_SO_ML_sin_IVA_IF']

In [35]:
df_Final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 247 entries, 31004759 to 31003857
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Nombre_Vendedor         247 non-null    object
 1   Codigo_Zona_Ruta        247 non-null    object
 2   Codigo_Asesor           247 non-null    int64
 3   Nombre_Asesor           247 non-null    int64
 4   Venta_SO_ML_sin_IVA_DV  247 non-null    float64
 5   Venta_SO_ML_sin_IVA_IF  247 non-null    float64
 6   Diff                    247 non-null    float64
dtypes: float64(3), int64(2), object(2)
memory usage: 15.4+ KB

In [36]:
display(df_Final)

,Nombre_Vendedor,Codigo_Zona_Ruta,Codigo_Asesor,Nombre_Asesor,Venta_SO_ML_sin_IVA_DV,Venta_SO_ML_sin_IVA_IF,Diff
Codigo_Vendedor,,,,,,,
31004759,Johan Stiven Santibanez Ramirez,C005C054002,26,26,19141755.33,1.914176e+07,0.1750
31004761,German Esteban Pena Jara,C005C053906,26,26,24731361.68,2.473136e+07,0.1025
31007247,Andres Mazo Ortiz,C003C031717,14,14,8912655.28,8.912655e+06,0.0000
31007248,Dayana Andrea Chavarria Cardenas,C003C031707,14,14,8099456.50,8.099456e+06,0.0000
31007430,Mariana Vallejo David,C003C031501,15,15,7524032.91,7.524033e+06,0.0000
...,...,...,...,...,...,...,...
31004680,Luisa Maria Hernadez Montoya,C003C031708,14,14,16190470.02,1.619047e+07,0.1203
31004714,Linda Gonzalez,C007C052715,26,26,8640316.78,8.640317e+06,0.0000
31004715,Maryely Rivera Argaez,C003C031702,17,17,16872896.26,1.687290e+07,0.1500
31004758,Valentina Ceron Uribe,C003C031605,16,16,20957932.13,2.095793e+07,0.3200
31003857,0,0,0,0,0.00,0.000000e+00,0.0000

In [37]:
#fecha = 

# df_Final = df_Final.set_index('Codigo_Vendedor')
df_Final.drop_duplicates(inplace=True)
df_Final.to_excel("Result.xlsx")

In [38]:
total_dv = table_dv['Venta_SO_ML_sin_IVA_DV'].sum()
display(total_dv)

total_if = table_if['Venta_SO_ML_sin_IVA_IF'].sum()
display(total_if)

diff = total_dv - total_if
display(diff)

4662473644.440001

4662502034.068399

-28389.628398895264

In [39]:
diff_faturamento = diff
#display(diff_faturamento)

if diff_faturamento < 0:
  diff_faturamento * (-1)
else:
  diff_faturamento

print('Incentivo Familia: ' + str(total_if))
print('Detalhe de Vendas: ' + str(total_dv))

if diff_faturamento > nStartFaturamento:
    print('Analisando faturamento entre os 2 reportes temos uma diferença de ' + str(diff_faturamento) + ' **Deu merda** Avisa Geral!!!')
else:
    print('Analisando faturamento entre os 2 reportes temos uma diferença de ' + str(diff_faturamento) + ' Ta de boa!!! pode ir pro café')

Incentivo Familia: 4662502034.068399
Detalhe de Vendas: 4662473644.440001
Analisando faturamento entre os 2 reportes temos uma diferença de -28389.628398895264 Ta de boa!!! pode ir pro café

In [40]:
df_merged_vendedor = df_Final.loc[(df_Final['Diff'] >= nStart) | (df_Final['Diff'] <= nStart2)]

diff_vendedor = int(df_merged_vendedor[['Diff']].count())

#display(diff_vendedor)
print('Segundo os paramentros aplicados temos ' + str(diff_vendedor) + ' vendedores com diferenças consideraveis de faturamento após comparar os 2 reportes')

Segundo os paramentros aplicados temos 1 vendedores com diferenças consideraveis de faturamento após comparar os 2 reportes

C:\Users\dfurukawa\AppData\Local\Temp\ipykernel_5964\416251396.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  diff_vendedor = int(df_merged_vendedor[['Diff']].count())