# **Analise de Faturamento entre os Reportes de Incentivos_Familia & Detalle_de_ventas**

# Para que funcione corretamente suba os arquivos de Incentivos_Familia e Detalle_de_ventas na pasta **MyDrive/Colab Notebooks/Mondelez_COLEC** do seu Drive e devem se chamar exatamente

*   MC1_INT_CSV_Incentivos_Familia.CSV
*   MC1_INT_CSV_Detalle_de_ventas.CSV

# Importandos Bibliotecas necessários para analise

# **Instruções de Uso**


1.   Execute somente a Primeira célula para montar o Drive do Google
2.   Ele irá solicitar acesso ao seu drive, conceda. Deverá aparecer a seguinte mensagem ao terminar, "Mounted at /content/drive"
3.   Após execute a 2ª célula. Deverá aparecer a seguinte mensagem ao terminar, "Pasta criada com sucesso!"
4.   Abra o seu google drive procure pela pasta "Colab Notebooks/Mondelez_COLEC"
5.   Copie os arquivos gerados para a pasta mencionada acima. Conforme instruções.
6.   Execute toda cadeia de execuções através do atalho "CRTL + F9" ou vá em Ambiente de Execução / Executar Tudo

***Para que funcione corretamente suba os arquivos de Incentivos_Familia e Detalle_de_ventas na pasta Colab Notebooks/Mondelez_COLEC do seu Drive e devem se chamar exatamente MC1_INT_CSV_Incentivos_Familia.CSV e MC1_INT_CSV_Detalle_de_ventas.CSV***

In [1]:
# 1ª CELULA

import os
#import wget

import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt
from pathlib import Path
# from sklearn.model_selection import train_test_split
# from sklearn import metrics
# from sklearn.ensemble import RandomForestClassifier
#from google.colab import drive

#drive.mount('/content/drive')

#Paramtros de aceitação de diferença entre os 2 reportes para Analise por vendedor
nStart = 5000
nStart2 = -5000

nStartFaturamento = 50000

In [2]:
# 2ª CELULA

path = Path("./")
path.mkdir(parents=True, exist_ok=True)

print('Pasta criada com sucesso!')

Pasta criada com sucesso!

In [3]:
path_incentivos_familia = r"./MC1_INT_CSV_Incentivos_Familia.CSV"
path_detalhe_de_vendas = r"./MC1_INT_CSV_Detalle_de_ventas.CSV"

# Incentivos Familia - Tratamento do Arquivo

In [4]:
incentivosfamilia = pd.read_csv(path_incentivos_familia, sep=",")

incentivosfamilia['Venta_SO_ML_sin_IVA'] = incentivosfamilia['Venta_SO_ML_sin_IVA'].str.replace('.','')
incentivosfamilia['Venta_SO_ML_sin_IVA'] = incentivosfamilia['Venta_SO_ML_sin_IVA'].str.replace(',','.')
incentivosfamilia['Venta_SO_ML_sin_IVA'] = incentivosfamilia['Venta_SO_ML_sin_IVA'].astype(float)

incentivosfamilia['Codigo_Cliente_SI'] = incentivosfamilia['Codigo_Cliente_SI'].astype(object)
incentivosfamilia['Codigo_Asesor'] = incentivosfamilia['Codigo_Asesor'].astype(object)
incentivosfamilia['Codigo_Vendedor'] = incentivosfamilia['Codigo_Vendedor'].astype(object)
incentivosfamilia['Codigo Modelo de Venta'] = incentivosfamilia['Codigo Modelo de Venta'].astype(object)
incentivosfamilia['Ano'] = incentivosfamilia['Ano'].astype(object)
incentivosfamilia['Periodo'] = incentivosfamilia['Periodo'].astype(object)
incentivosfamilia['Periodo'] = incentivosfamilia['Periodo'].astype(object)

incentivosfamilia = incentivosfamilia.rename(columns={'Codigo Zona-Ruta' : 'Codigo_Zona_Ruta'})

In [5]:
incentivosfamilia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17182 entries, 0 to 17181
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pais                      17182 non-null  object
 1   Codigo_Cliente_SI         17182 non-null  object
 2   Descripcion Cliente SI    17182 non-null  object
 3   Codigo_Canal              17182 non-null  object
 4   Descripcion_Canal         17182 non-null  object
 5   Codigo_Subcanal           17182 non-null  object
 6   Descripcion Subcanal      17182 non-null  object
 7   Codigo_Region             17182 non-null  object
 8   Descripcion_Region        17182 non-null  object
 9   Codigo_Subregion          17182 non-null  object
 10  Descripcion_Subregion     17182 non-null  object
 11  Codigo_Asesor             17182 non-null  object
 12  Nombre_Asesor             17182 non-null  object
 13  Codigo_Vendedor           17182 non-null  object
 14  Nombre_Vendedor           17182 non-null  object
 15  Codigo_Zona_Ruta          17182 non-null  object
 16  Descripcion Zona-Ruta     17182 non-null  object
 17  Codigo Modelo de Venta    17182 non-null  object
 18  Descripcion Modelo Venta  17182 non-null  object
 19  Tipo de Venta             17182 non-null  object
 20  Ano                       17182 non-null  object
 21  Periodo                   17182 non-null  object
 22  Codigo Familia            17182 non-null  object
 23  Nombre Familia            17182 non-null  object
 24  PDV Activos y Nuevos      17182 non-null  int64
 25  PDV Activos               17182 non-null  int64
 26  Real Display              17182 non-null  object
 27  Cuota_Display             17182 non-null  object
 28  Visitas Programadas       17182 non-null  int64
 29  Real Visitas Programadas  17182 non-null  int64
 30  Real Visitas Realizadas   17182 non-null  int64
 31  Real Visitas Efectivas    17182 non-null  int64
 32  Cuota_Visitas_Efectivas   17182 non-null  int64
 33  Cuota_Visitas_Realizadas  17182 non-null  int64
 34  Venta_SO_ML_sin_IVA       17182 non-null  float64
 35  Cuota_SO_ML_sin_IVA       17182 non-null  object
 36  Impactos                  17182 non-null  int64
dtypes: float64(1), int64(9), object(27)
memory usage: 4.9+ MB

# Incentivos Familia - Totalizando

In [25]:
table_if =  pd.DataFrame({
                    'Codigo_Asesor': incentivosfamilia['Codigo_Asesor']
                    ,'Nombre_Asesor': incentivosfamilia['Codigo_Asesor']
                    ,'Codigo_Vendedor': incentivosfamilia['Codigo_Vendedor']
                    ,'Nombre_Vendedor': incentivosfamilia['Nombre_Vendedor']
                    ,'Codigo_Zona_Ruta': incentivosfamilia['Codigo_Zona_Ruta']
                    ,'Venta_SO_ML_sin_IVA': incentivosfamilia['Venta_SO_ML_sin_IVA']
                    #})
                    #}).sum()
                    }).groupby(['Codigo_Asesor','Nombre_Asesor','Codigo_Vendedor','Nombre_Vendedor','Codigo_Zona_Ruta']).sum()
table_if = table_if.rename(columns={'Venta_SO_ML_sin_IVA': 'Venta_SO_ML_sin_IVA_IF'})
#table_dv.info()
display(table_if)

                                                                                             Venta_SO_ML_sin_IVA_IF
Codigo_Asesor Nombre_Asesor Codigo_Vendedor Nombre_Vendedor                Codigo_Zona_Ruta
8             8             31002048        Henry Buitrago APOLO A3        C001C020805                 2.147864e+06
                            31003343        Nancy Carvajal APOLO A4        C001C020806                 1.989415e+06
                            31004066        Carlos Arturo Ramirez APOLO A1 C001C020802                 2.733895e+06
                            31004209        ADRIANA HINCAPIE               C001C021121                 2.925086e+06
                            31004380        Milena Marin                   C001C020803                 1.732984e+06
...                                                                                                             ...
108           108           31007057        Dayana Ortiz APOLO A7          C001C020513                 2.076394e+06
                            31007232        Miriam Villegas APOLO B1       C001C015106                 1.199706e+06
                            31007234        Viviana Cuatindioy APOLO B3    C001C015102                 1.254622e+06
                            31007235        Luz Suarez APOLO B5            C001C015104                 1.294790e+06
                            31007236        Nancy Pineda APOLO B6          C001C015107                 4.850000e+05

[242 rows x 1 columns]

# Incentivos Familia - Verificando se existem valores em Branco = ISNULL

In [26]:
table_if[table_if.Venta_SO_ML_sin_IVA_IF.isna()]

Empty DataFrame
Columns: [Venta_SO_ML_sin_IVA_IF]
Index: []

# Detalhe de Vendas - Tratamento do Arquivo

In [27]:
detalhe_de_vendas = pd.read_csv(path_detalhe_de_vendas, sep=",")

detalhe_de_vendas['Venta_SO_ML_sin_IVA'] = detalhe_de_vendas['Venta_SO_ML_sin_IVA'].str.replace('.','')
detalhe_de_vendas['Venta_SO_ML_sin_IVA'] = detalhe_de_vendas['Venta_SO_ML_sin_IVA'].str.replace(',','.')
detalhe_de_vendas['Venta_SO_ML_sin_IVA'] = detalhe_de_vendas['Venta_SO_ML_sin_IVA'].astype(float)

detalhe_de_vendas['IVA'] = detalhe_de_vendas['IVA'].str.replace('.','')
detalhe_de_vendas['IVA'] = detalhe_de_vendas['IVA'].str.replace(',','.')
detalhe_de_vendas['IVA'] = detalhe_de_vendas['IVA'].astype(float)

detalhe_de_vendas['Venta_SO_ML_con_IVA'] = detalhe_de_vendas['Venta_SO_ML_con_IVA'].str.replace('.','')
detalhe_de_vendas['Venta_SO_ML_con_IVA'] = detalhe_de_vendas['Venta_SO_ML_con_IVA'].str.replace(',','.')
detalhe_de_vendas['Venta_SO_ML_con_IVA'] = detalhe_de_vendas['Venta_SO_ML_con_IVA'].astype(float)

detalhe_de_vendas['Descuento'] = detalhe_de_vendas['Descuento'].str.replace('.','')
detalhe_de_vendas['Descuento'] = detalhe_de_vendas['Descuento'].str.replace(',','.')
detalhe_de_vendas['Descuento'] = detalhe_de_vendas['Descuento'].astype(float)

detalhe_de_vendas['Peso_por_display_KG'] = detalhe_de_vendas['Peso_por_display_KG'].str.replace('.','')
detalhe_de_vendas['Peso_por_display_KG'] = detalhe_de_vendas['Peso_por_display_KG'].str.replace(',','.')
detalhe_de_vendas['Peso_por_display_KG'] = detalhe_de_vendas['Peso_por_display_KG'].astype(float)

detalhe_de_vendas['Cantidad_de_venta_en_TON'] = detalhe_de_vendas['Cantidad_de_venta_en_TON'].str.replace('.','')
detalhe_de_vendas['Cantidad_de_venta_en_TON'] = detalhe_de_vendas['Cantidad_de_venta_en_TON'].str.replace(',','.')
detalhe_de_vendas['Cantidad_de_venta_en_TON'] = detalhe_de_vendas['Cantidad_de_venta_en_TON'].astype(float)

detalhe_de_vendas['Venta_en_Cajas'] = detalhe_de_vendas['Venta_en_Cajas'].str.replace('.','')
detalhe_de_vendas['Venta_en_Cajas'] = detalhe_de_vendas['Venta_en_Cajas'].str.replace(',','.')
detalhe_de_vendas['Venta_en_Cajas'] = detalhe_de_vendas['Venta_en_Cajas'].astype(float)

detalhe_de_vendas['Codigo_Cliente_SI'] = detalhe_de_vendas['Codigo_Cliente_SI'].astype(object)
detalhe_de_vendas['Codigo_Asesor'] = detalhe_de_vendas['Codigo_Asesor'].astype(object)
detalhe_de_vendas['Codigo_Vendedor'] = detalhe_de_vendas['Codigo_Vendedor'].astype(object)
detalhe_de_vendas['Codigo_PDV'] = detalhe_de_vendas['Codigo_PDV'].astype(object)
detalhe_de_vendas['Codigo_PDV_2'] = detalhe_de_vendas['Codigo_PDV_2'].astype(object)
detalhe_de_vendas['Latitud'] = detalhe_de_vendas['Latitud'].astype(object)
detalhe_de_vendas['nLongitud'] = detalhe_de_vendas['nLongitud'].astype(object)
detalhe_de_vendas['Codigo_Tipo_de_Negocio_PDV'] = detalhe_de_vendas['Codigo_Tipo_de_Negocio_PDV'].astype(object)
detalhe_de_vendas['Codigo_Cluster_PDV'] = detalhe_de_vendas['Codigo_Cluster_PDV'].astype(object)
detalhe_de_vendas['codigo_de_Tipo_de_Ruta'] = detalhe_de_vendas['codigo_de_Tipo_de_Ruta'].astype(object)
detalhe_de_vendas['orden_de_visita_realizada'] = detalhe_de_vendas['orden_de_visita_realizada'].astype(object)
detalhe_de_vendas['Numero_de_Documento_Legal'] = detalhe_de_vendas['Numero_de_Documento_Legal'].astype(object)
detalhe_de_vendas['Cod_Combo'] = detalhe_de_vendas['Cod_Combo'].astype(object)
detalhe_de_vendas['Descripcion_Combo'] = detalhe_de_vendas['Descripcion_Combo'].astype(object)
detalhe_de_vendas['Cant_Combo'] = detalhe_de_vendas['Cant_Combo'].astype(object)
detalhe_de_vendas['Cod_Surtido'] = detalhe_de_vendas['Cod_Surtido'].astype(object)
detalhe_de_vendas['Descripcion_Surtido'] = detalhe_de_vendas['Descripcion_Surtido'].astype(object)
detalhe_de_vendas['Cant_Surtido'] = detalhe_de_vendas['Cant_Surtido'].astype(object)
detalhe_de_vendas['Cod_Articulo_MDLZ'] = detalhe_de_vendas['Cod_Articulo_MDLZ'].astype(object)
detalhe_de_vendas['Cod_Articulo_SAP'] = detalhe_de_vendas['Cod_Articulo_SAP'].astype(object)
detalhe_de_vendas['Cod_Articulo_SAP'] = detalhe_de_vendas['Cod_Articulo_SAP'].astype(object)



# detalhe_de_vendas['Real_DISPLAYS'] = detalhe_de_vendas['Real_DISPLAYS'].str.replace('.','')
# detalhe_de_vendas['Real_DISPLAYS'] = detalhe_de_vendas['Real_DISPLAYS'].str.replace(',','.')
# detalhe_de_vendas['Real_DISPLAYS'] = detalhe_de_vendas['Real_DISPLAYS'].astype(float)

# detalhe_de_vendas['Precio_Display'] = detalhe_de_vendas['Real_DISPLAYS'].str.replace('.','')
# detalhe_de_vendas['Precio_Display'] = detalhe_de_vendas['Real_DISPLAYS'].str.replace(',','.')
# detalhe_de_vendas['Precio_Display'] = detalhe_de_vendas['Real_DISPLAYS'].astype(float)

C:\Users\dfurukawa\AppData\Local\Temp\ipykernel_13928\4068736779.py:1: DtypeWarning: Columns (18,37,39,40,49,50,51,52,53,54,55,56,57,58,59) have mixed types. Specify dtype option on import or set low_memory=False.
  detalhe_de_vendas = pd.read_csv(path_detalhe_de_vendas, sep=",")

# Detalhe de Vendas - Informações sobre a tabela

In [28]:
detalhe_de_vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76370 entries, 0 to 76369
Data columns (total 74 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Pais                             76370 non-null  object
 1   Codigo_Cliente_SI                76370 non-null  object
 2   Descripcion Cliente SI           76370 non-null  object
 3   Codigo_Canal                     76370 non-null  object
 4   Descripcion_Canal                76370 non-null  object
 5   Codigo_Subcanal                  76370 non-null  object
 6   Descripcion Subcanal             76370 non-null  object
 7   Codigo_Region                    76370 non-null  object
 8   Descripcion_Region               76370 non-null  object
 9   Codigo_Subregion                 76370 non-null  object
 10  Descripcion_Subregion            76370 non-null  object
 11  Codigo_Asesor                    76370 non-null  object
 12  Nombre_Asesor                    76370 non-null  object
 13  Codigo_Vendedor                  76370 non-null  object
 14  Nombre_Vendedor                  76370 non-null  object
 15  Tipo_de_Vendedor                 46793 non-null  object
 16  Codigo_PDV                       76370 non-null  object
 17  Codigo_PDV_2                     76370 non-null  object
 18  Identificacion                   76370 non-null  object
 19  Nombre_PDV                       76370 non-null  object
 20  Nombre_Comercial_PDV             76132 non-null  object
 21  Direccion                        76370 non-null  object
 22  Latitud                          76370 non-null  object
 23  nLongitud                        76370 non-null  object
 24  Descripcion_Departamento         76370 non-null  object
 25  Descripcion_Ciudad               76370 non-null  object
 26  Codigo_Tipo_de_Negocio_PDV       76370 non-null  object
 27  Descripcion_Tipo_de_Negocio_PDV  76337 non-null  object
 28  Codigo_Cluster_PDV               76370 non-null  object
 29  Descripcion_Cluster_PDV          76370 non-null  object
 30  Codigo_Zona_Ruta                 76370 non-null  object
 31  Descripcion_Zona_Ruta            76370 non-null  object
 32  codigo_de_Tipo_de_Ruta           76370 non-null  object
 33  Tipo_de_ruta                     76370 non-null  object
 34  Fecha                            76370 non-null  object
 35  Hora                             76370 non-null  object
 36  orden_de_visita_realizada        76370 non-null  object
 37  Orden_Venta                      60341 non-null  object
 38  Numero_de_Documento_Legal        0 non-null      object
 39  Tipo_Documento                   60341 non-null  object
 40  Estado_del_Documento             60341 non-null  object
 41  Cod_Combo                        0 non-null      object
 42  Descripcion_Combo                0 non-null      object
 43  Cant_Combo                       16077 non-null  object
 44  Cod_Surtido                      0 non-null      object
 45  Descripcion_Surtido              0 non-null      object
 46  Cant_Surtido                     16077 non-null  object
 47  Cod_Articulo_MDLZ                60341 non-null  object
 48  Cod_Articulo_SAP                 60341 non-null  object
 49  Descripcion_Articulo_SAP         60341 non-null  object
 50  Codigo_Categoria                 60341 non-null  object
 51  Descripcion_Categoria            60341 non-null  object
 52  Codigo_Subcategoria              60341 non-null  object
 53  Descripcion_Subcategoria         60341 non-null  object
 54  Codigo_Marca                     60341 non-null  object
 55  Descripcion_Marca                60341 non-null  object
 56  Codigo_Familia                   60341 non-null  object
 57  Descripcion_Familia              60341 non-null  object
 58  Codigo_Sabor                     60341 non-null  object
 59  Descripcion_Sabor                60341 non-null  object
 60  Displays_en_Orden                76370 non-null  int64
 61  Unidades_en_Orden                76370 non-null  float64
 62  Real_DISPLAYS                    76370 non-null  object
 63  Precio_Display                   76370 non-null  object
 64  Venta_SO_ML_sin_IVA              76370 non-null  float64
 65  IVA                              76370 non-null  float64
 66  Venta_SO_ML_con_IVA              76370 non-null  float64
 67  Descuento                        76370 non-null  float64
 68  Peso_por_display_KG              76370 non-null  float64
 69  Cantidad_de_venta_en_TON         76370 non-null  float64
 70  Venta_en_Cajas                   76370 non-null  float64
 71  Visitas_Programadas              76370 non-null  int64
 72  Real_Visitas_Realizadas          76370 non-null  int64
 73  Real_Visitas_Efectivas           76370 non-null  int64
dtypes: float64(8), int64(4), object(62)
memory usage: 43.1+ MB

# Detalhe de Vendas - Totalizando Faturamento

In [29]:
table_dv =  pd.DataFrame({
                    'Codigo_Asesor': detalhe_de_vendas['Codigo_Asesor']
                    ,'Nombre_Asesor': detalhe_de_vendas['Codigo_Asesor']
                    ,'Codigo_Vendedor': detalhe_de_vendas['Codigo_Vendedor']
                    ,'Nombre_Vendedor': detalhe_de_vendas['Nombre_Vendedor']
                    ,'Codigo_Zona_Ruta': detalhe_de_vendas['Codigo_Zona_Ruta']
                    ,'Venta_SO_ML_sin_IVA': detalhe_de_vendas['Venta_SO_ML_sin_IVA']
                    #})
                    #}).sum()
                    }).groupby(['Codigo_Asesor','Nombre_Asesor','Codigo_Vendedor','Nombre_Vendedor','Codigo_Zona_Ruta']).sum()
table_dv = table_dv.rename(columns={'Venta_SO_ML_sin_IVA': 'Venta_SO_ML_sin_IVA_DV'})
#table_dv.info()
display(table_dv)

                                                                                             Venta_SO_ML_sin_IVA_DV
Codigo_Asesor Nombre_Asesor Codigo_Vendedor Nombre_Vendedor                Codigo_Zona_Ruta
8             8             31002048        Henry Buitrago APOLO A3        C001C020805                   3647950.37
                            31003343        Nancy Carvajal APOLO A4        C001C020806                   2770887.02
                            31004066        Carlos Arturo Ramirez APOLO A1 C001C020802                   3960032.47
                            31004209        ADRIANA HINCAPIE               C001C021121                   3679963.94
                            31004380        Milena Marin                   C001C020803                   2105743.02
...                                                                                                             ...
108           108           31007057        Dayana Ortiz APOLO A7          C001C020513                   2982825.45
                            31007232        Miriam Villegas APOLO B1       C001C015106                   1983334.15
                            31007234        Viviana Cuatindioy APOLO B3    C001C015102                   1872352.95
                            31007235        Luz Suarez APOLO B5            C001C015104                   1733067.34
                            31007236        Nancy Pineda APOLO B6          C001C015107                    562899.21

[244 rows x 1 columns]

# Detalhe de Vendas - Verificando se existem valores em Branco = ISNULL

In [19]:
table_dv[table_dv.Venta_SO_ML_sin_IVA_DV.isna()]

Empty DataFrame
Columns: [Venta_SO_ML_sin_IVA_DV]
Index: []

# Juntando Tabelas

In [31]:
df_merged = pd.concat([table_if, table_dv], axis=1, ignore_index=True, sort=False)
df_merged = df_merged.rename(columns={0: 'Venta_SO_ML_sin_IVA_IF', 1 : 'Venta_SO_ML_sin_IVA_DV'})
df_merged['Diff'] = df_merged['Venta_SO_ML_sin_IVA_DV'] - df_merged['Venta_SO_ML_sin_IVA_IF']

#df_merged.info()
df_merged = df_merged.sort_values(by=['Diff'], ascending=False)
df_merged_vendedor = df_merged.loc[(df_merged['Diff'] >= nStart) | (df_merged['Diff'] <= nStart2)]

display(df_merged)
#display(df_merged_vendedor)

df_merged.info()
display(df_merged)

                                                                                      Venta_SO_ML_sin_IVA_IF  \
Codigo_Asesor Nombre_Asesor Codigo_Vendedor Nombre_Vendedor         Codigo_Zona_Ruta
42            42            31000840        Oscar Orlando Acosta    C007C053314                 5.907226e+06
                            31001478        Claudia Pacheco         C007C054215                 1.984166e+06
45            45            31002283        Clarena Cordoba         C003C031607                 9.176272e+06
100           100           31004818        Viviana Cardenas        C001C015010                 6.556391e+06
15            15            31003012        Lesly Jhoana Ossa       C003C031509                 3.289682e+06
...                                                                                                      ...
101           101           31004754        Katerine Vernasa Angulo C005C052844                 1.388678e+07
26            26            31007387        Liyi Haidy Ramirez      C005C054002                 7.653346e+05
42            42            31001946        Felipe Munoz            C007C053317                 2.697312e+06
13            13            31001686        Venta de Oficina        C001C021306                          NaN
51            51            31003857        Ventas de Oficina       C001C020516                          NaN

                                                                                      Venta_SO_ML_sin_IVA_DV  \
Codigo_Asesor Nombre_Asesor Codigo_Vendedor Nombre_Vendedor         Codigo_Zona_Ruta
42            42            31000840        Oscar Orlando Acosta    C007C053314                  12821679.69
                            31001478        Claudia Pacheco         C007C054215                   8235134.14
45            45            31002283        Clarena Cordoba         C003C031607                  12509212.75
100           100           31004818        Viviana Cardenas        C001C015010                   9552695.99
15            15            31003012        Lesly Jhoana Ossa       C003C031509                   6181724.59
...                                                                                                      ...
101           101           31004754        Katerine Vernasa Angulo C005C052844                  13886776.04
26            26            31007387        Liyi Haidy Ramirez      C005C054002                    761774.93
42            42            31001946        Felipe Munoz            C007C053317                   2657816.14
13            13            31001686        Venta de Oficina        C001C021306                         0.00
51            51            31003857        Ventas de Oficina       C001C020516                         0.00

                                                                                              Diff
Codigo_Asesor Nombre_Asesor Codigo_Vendedor Nombre_Vendedor         Codigo_Zona_Ruta
42            42            31000840        Oscar Orlando Acosta    C007C053314       6.914454e+06
                            31001478        Claudia Pacheco         C007C054215       6.250968e+06
45            45            31002283        Clarena Cordoba         C003C031607       3.332941e+06
100           100           31004818        Viviana Cardenas        C001C015010       2.996305e+06
15            15            31003012        Lesly Jhoana Ossa       C003C031509       2.892042e+06
...                                                                                            ...
101           101           31004754        Katerine Vernasa Angulo C005C052844       0.000000e+00
26            26            31007387        Liyi Haidy Ramirez      C005C054002      -3.559660e+03
42            42            31001946        Felipe Munoz            C007C053317      -3.949578e+04
13            13            31001686        Venta de Oficina        C001C021306                NaN
51            51            31003857        Ventas de Oficina       C001C020516                NaN

[244 rows x 3 columns]

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 244 entries, (42, 42, 31000840, 'Oscar Orlando Acosta', 'C007C053314') to (51, 51, 31003857, 'Ventas de Oficina', 'C001C020516')
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Venta_SO_ML_sin_IVA_IF  242 non-null    float64
 1   Venta_SO_ML_sin_IVA_DV  244 non-null    float64
 2   Diff                    242 non-null    float64
dtypes: float64(3)
memory usage: 34.7+ KB

                                                                                      Venta_SO_ML_sin_IVA_IF  \
Codigo_Asesor Nombre_Asesor Codigo_Vendedor Nombre_Vendedor         Codigo_Zona_Ruta
42            42            31000840        Oscar Orlando Acosta    C007C053314                 5.907226e+06
                            31001478        Claudia Pacheco         C007C054215                 1.984166e+06
45            45            31002283        Clarena Cordoba         C003C031607                 9.176272e+06
100           100           31004818        Viviana Cardenas        C001C015010                 6.556391e+06
15            15            31003012        Lesly Jhoana Ossa       C003C031509                 3.289682e+06
...                                                                                                      ...
101           101           31004754        Katerine Vernasa Angulo C005C052844                 1.388678e+07
26            26            31007387        Liyi Haidy Ramirez      C005C054002                 7.653346e+05
42            42            31001946        Felipe Munoz            C007C053317                 2.697312e+06
13            13            31001686        Venta de Oficina        C001C021306                          NaN
51            51            31003857        Ventas de Oficina       C001C020516                          NaN

                                                                                      Venta_SO_ML_sin_IVA_DV  \
Codigo_Asesor Nombre_Asesor Codigo_Vendedor Nombre_Vendedor         Codigo_Zona_Ruta
42            42            31000840        Oscar Orlando Acosta    C007C053314                  12821679.69
                            31001478        Claudia Pacheco         C007C054215                   8235134.14
45            45            31002283        Clarena Cordoba         C003C031607                  12509212.75
100           100           31004818        Viviana Cardenas        C001C015010                   9552695.99
15            15            31003012        Lesly Jhoana Ossa       C003C031509                   6181724.59
...                                                                                                      ...
101           101           31004754        Katerine Vernasa Angulo C005C052844                  13886776.04
26            26            31007387        Liyi Haidy Ramirez      C005C054002                    761774.93
42            42            31001946        Felipe Munoz            C007C053317                   2657816.14
13            13            31001686        Venta de Oficina        C001C021306                         0.00
51            51            31003857        Ventas de Oficina       C001C020516                         0.00

                                                                                              Diff
Codigo_Asesor Nombre_Asesor Codigo_Vendedor Nombre_Vendedor         Codigo_Zona_Ruta
42            42            31000840        Oscar Orlando Acosta    C007C053314       6.914454e+06
                            31001478        Claudia Pacheco         C007C054215       6.250968e+06
45            45            31002283        Clarena Cordoba         C003C031607       3.332941e+06
100           100           31004818        Viviana Cardenas        C001C015010       2.996305e+06
15            15            31003012        Lesly Jhoana Ossa       C003C031509       2.892042e+06
...                                                                                            ...
101           101           31004754        Katerine Vernasa Angulo C005C052844       0.000000e+00
26            26            31007387        Liyi Haidy Ramirez      C005C054002      -3.559660e+03
42            42            31001946        Felipe Munoz            C007C053317      -3.949578e+04
13            13            31001686        Venta de Oficina        C001C021306                NaN
51            51            31003857        Ventas de Oficina       C001C020516                NaN

[244 rows x 3 columns]

In [32]:
total_dv = table_dv['Venta_SO_ML_sin_IVA_DV'].sum()
display(total_dv)

865426486.9099998

In [33]:
total_if = table_if['Venta_SO_ML_sin_IVA_IF'].sum()
display(total_if)

651700574.0442

In [34]:
diff = total_dv - total_if
display(diff)

213725912.8657999

In [35]:
diff_faturamento = diff
#display(diff_faturamento)

if diff_faturamento < 0:
  diff_faturamento * (-1)
else:
  diff_faturamento

print('Incentivos Familia: ' + str(total_if))
print('Detalhe de Vendas: ' + str(total_dv))

if diff_faturamento > nStartFaturamento:
    print('Analisando faturamento entre os 2 reportes temos uma diferença de ' + str(diff_faturamento) + ' **Deu merda** Avisa Geral!!!')
else:
    print('Analisando faturamento entre os 2 reportes temos uma diferença de ' + str(diff_faturamento) + ' Ta de boa!!! pode ir pro café')

Incentivos Familia: 651700574.0442
Detalhe de Vendas: 865426486.9099998
Analisando faturamento entre os 2 reportes temos uma diferença de 213725912.8657999 **Deu merda** Avisa Geral!!!

In [36]:
diff_vendedor = int(df_merged_vendedor[['Diff']].count())

#display(diff_vendedor)
print('Segundo os paramentros aplicados temos ' + str(diff_vendedor) + ' vendedores com diferenças consideraveis de faturamento após comparar os 2 reportes')

Segundo os paramentros aplicados temos 232 vendedores com diferenças consideraveis de faturamento após comparar os 2 reportes

C:\Users\dfurukawa\AppData\Local\Temp\ipykernel_13928\3094505474.py:1: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  diff_vendedor = int(df_merged_vendedor[['Diff']].count())

In [ ]:
#df_merged.info()
df_merged.to_excel("output.xlsx")

In [37]:
df_merged.isnull().sum()

Venta_SO_ML_sin_IVA_IF    2
Venta_SO_ML_sin_IVA_DV    0
Diff                      2
dtype: int64