# **Analise de Faturamento entre os Reportes de Incentivos_Familia & Detalle_de_ventas**

# Para que funcione corretamente suba os arquivos de Incentivos_Familia e Detalle_de_ventas na pasta **MyDrive/Colab Notebooks/Mondelez_COLEC** do seu Drive e devem se chamar exatamente

*   MC1_INT_CSV_Incentivos_Familia.CSV
*   MC1_INT_CSV_Detalle_de_ventas.CSV

# Importandos Bibliotecas necessários para analise

# **Instruções de Uso**


1.   Execute somente a Primeira célula para montar o Drive do Google
2.   Ele irá solicitar acesso ao seu drive, conceda. Deverá aparecer a seguinte mensagem ao terminar, "Mounted at /content/drive"
3.   Após execute a 2ª célula. Deverá aparecer a seguinte mensagem ao terminar, "Pasta criada com sucesso!"
4.   Abra o seu google drive procure pela pasta "Colab Notebooks/Mondelez_COLEC"
5.   Copie os arquivos gerados para a pasta mencionada acima. Conforme instruções.
6.   Execute toda cadeia de execuções através do atalho "CRTL + F9" ou vá em Ambiente de Execução / Executar Tudo

***Para que funcione corretamente suba os arquivos de Incentivos_Familia e Detalle_de_ventas na pasta Colab Notebooks/Mondelez_COLEC do seu Drive e devem se chamar exatamente MC1_INT_CSV_Incentivos_Familia.CSV e MC1_INT_CSV_Detalle_de_ventas.CSV***

In [43]:
# 1ª CELULA

import os
#import wget

import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt
from pathlib import Path
# from sklearn.model_selection import train_test_split
# from sklearn import metrics
# from sklearn.ensemble import RandomForestClassifier
#from google.colab import drive

#drive.mount('/content/drive')

#Paramtros de aceitação de diferença entre os 2 reportes para Analise por vendedor
nStart = 5000
nStart2 = -5000

nStartFaturamento = 50000

In [44]:
# 2ª CELULA
separator = ","
path = Path("./")
path.mkdir(parents=True, exist_ok=True)

print('Pasta criada com sucesso!')

Pasta criada com sucesso!

In [45]:
path_incentivos_familia = r"./MC1_INT_CSV_Incentivos_Familia.CSV"
path_detalhe_de_vendas = r"./MC1_INT_CSV_Detalle_de_ventas.CSV"

# Incentivos Familia - Tratamento do Arquivo

In [46]:
incentivosfamilia = pd.read_csv(path_incentivos_familia, sep=separator)

incentivosfamilia['Venta_SO_ML_sin_IVA'] = incentivosfamilia['Venta_SO_ML_sin_IVA'].str.replace('.','')
incentivosfamilia['Venta_SO_ML_sin_IVA'] = incentivosfamilia['Venta_SO_ML_sin_IVA'].str.replace(',','.')
incentivosfamilia['Venta_SO_ML_sin_IVA'] = incentivosfamilia['Venta_SO_ML_sin_IVA'].astype(float)

incentivosfamilia['Codigo_Cliente_SI'] = incentivosfamilia['Codigo_Cliente_SI'].astype(object)
incentivosfamilia['Codigo_Asesor'] = incentivosfamilia['Codigo_Asesor'].astype(object)
incentivosfamilia['Codigo_Vendedor'] = incentivosfamilia['Codigo_Vendedor'].astype(object)
incentivosfamilia['Codigo Modelo de Venta'] = incentivosfamilia['Codigo Modelo de Venta'].astype(object)
incentivosfamilia['Ano'] = incentivosfamilia['Ano'].astype(object)
incentivosfamilia['Periodo'] = incentivosfamilia['Periodo'].astype(object)
incentivosfamilia['Periodo'] = incentivosfamilia['Periodo'].astype(object)

incentivosfamilia = incentivosfamilia.rename(columns={'Codigo Zona-Ruta' : 'Codigo_Zona_Ruta'})

In [47]:
#incentivosfamilia.info()

# Incentivos Familia - Totalizando

In [48]:
table_if =  pd.DataFrame({
                    'Codigo_Asesor': incentivosfamilia['Codigo_Asesor']
                    ,'Nombre_Asesor': incentivosfamilia['Codigo_Asesor']
                    ,'Codigo_Vendedor': incentivosfamilia['Codigo_Vendedor']
                    ,'Nombre_Vendedor': incentivosfamilia['Nombre_Vendedor']
                    ,'Codigo_Zona_Ruta': incentivosfamilia['Codigo_Zona_Ruta']
                    ,'Venta_SO_ML_sin_IVA': incentivosfamilia['Venta_SO_ML_sin_IVA']
                    #})
                    #}).sum()
                    }).groupby(['Codigo_Asesor','Nombre_Asesor','Codigo_Vendedor','Nombre_Vendedor','Codigo_Zona_Ruta']).sum()
table_if = table_if.rename(columns={'Venta_SO_ML_sin_IVA': 'Venta_SO_ML_sin_IVA_IF'})

display(table_if)

                                                                                             Venta_SO_ML_sin_IVA_IF
Codigo_Asesor Nombre_Asesor Codigo_Vendedor Nombre_Vendedor                Codigo_Zona_Ruta
8             8             31002048        Henry Buitrago APOLO A3        C001C020805                 3.647950e+06
                            31003343        Nancy Carvajal APOLO A4        C001C020806                 2.770887e+06
                            31004066        Carlos Arturo Ramirez APOLO A1 C001C020802                 3.960032e+06
                            31004209        ADRIANA HINCAPIE               C001C021121                 3.679964e+06
                            31004380        Milena Marin                   C001C020803                 2.105743e+06
...                                                                                                             ...
108           108           31007057        Dayana Ortiz APOLO A7          C001C020513                 2.982825e+06
                            31007232        Miriam Villegas APOLO B1       C001C015106                 1.983334e+06
                            31007234        Viviana Cuatindioy APOLO B3    C001C015102                 1.872353e+06
                            31007235        Luz Suarez APOLO B5            C001C015104                 1.733067e+06
                            31007236        Nancy Pineda APOLO B6          C001C015107                 5.628992e+05

[242 rows x 1 columns]

# Incentivos Familia - Verificando se existem valores em Branco = ISNULL

In [49]:
table_if[table_if.Venta_SO_ML_sin_IVA_IF.isna()]

Empty DataFrame
Columns: [Venta_SO_ML_sin_IVA_IF]
Index: []

# Detalhe de Vendas - Tratamento do Arquivo

In [50]:
detalhe_de_vendas = pd.read_csv(path_detalhe_de_vendas, sep=separator)

detalhe_de_vendas['Venta_SO_ML_sin_IVA'] = detalhe_de_vendas['Venta_SO_ML_sin_IVA'].str.replace('.','')
detalhe_de_vendas['Venta_SO_ML_sin_IVA'] = detalhe_de_vendas['Venta_SO_ML_sin_IVA'].str.replace(',','.')
detalhe_de_vendas['Venta_SO_ML_sin_IVA'] = detalhe_de_vendas['Venta_SO_ML_sin_IVA'].astype(float)

detalhe_de_vendas['IVA'] = detalhe_de_vendas['IVA'].str.replace('.','')
detalhe_de_vendas['IVA'] = detalhe_de_vendas['IVA'].str.replace(',','.')
detalhe_de_vendas['IVA'] = detalhe_de_vendas['IVA'].astype(float)

detalhe_de_vendas['Venta_SO_ML_con_IVA'] = detalhe_de_vendas['Venta_SO_ML_con_IVA'].str.replace('.','')
detalhe_de_vendas['Venta_SO_ML_con_IVA'] = detalhe_de_vendas['Venta_SO_ML_con_IVA'].str.replace(',','.')
detalhe_de_vendas['Venta_SO_ML_con_IVA'] = detalhe_de_vendas['Venta_SO_ML_con_IVA'].astype(float)

detalhe_de_vendas['Descuento'] = detalhe_de_vendas['Descuento'].str.replace('.','')
detalhe_de_vendas['Descuento'] = detalhe_de_vendas['Descuento'].str.replace(',','.')
detalhe_de_vendas['Descuento'] = detalhe_de_vendas['Descuento'].astype(float)

detalhe_de_vendas['Peso_por_display_KG'] = detalhe_de_vendas['Peso_por_display_KG'].str.replace('.','')
detalhe_de_vendas['Peso_por_display_KG'] = detalhe_de_vendas['Peso_por_display_KG'].str.replace(',','.')
detalhe_de_vendas['Peso_por_display_KG'] = detalhe_de_vendas['Peso_por_display_KG'].astype(float)

detalhe_de_vendas['Cantidad_de_venta_en_TON'] = detalhe_de_vendas['Cantidad_de_venta_en_TON'].str.replace('.','')
detalhe_de_vendas['Cantidad_de_venta_en_TON'] = detalhe_de_vendas['Cantidad_de_venta_en_TON'].str.replace(',','.')
detalhe_de_vendas['Cantidad_de_venta_en_TON'] = detalhe_de_vendas['Cantidad_de_venta_en_TON'].astype(float)

detalhe_de_vendas['Venta_en_Cajas'] = detalhe_de_vendas['Venta_en_Cajas'].str.replace('.','')
detalhe_de_vendas['Venta_en_Cajas'] = detalhe_de_vendas['Venta_en_Cajas'].str.replace(',','.')
detalhe_de_vendas['Venta_en_Cajas'] = detalhe_de_vendas['Venta_en_Cajas'].astype(float)

detalhe_de_vendas['Codigo_Cliente_SI'] = detalhe_de_vendas['Codigo_Cliente_SI'].astype(object)
detalhe_de_vendas['Codigo_Asesor'] = detalhe_de_vendas['Codigo_Asesor'].astype(object)
detalhe_de_vendas['Codigo_Vendedor'] = detalhe_de_vendas['Codigo_Vendedor'].astype(object)
detalhe_de_vendas['Codigo_PDV'] = detalhe_de_vendas['Codigo_PDV'].astype(object)
detalhe_de_vendas['Codigo_PDV_2'] = detalhe_de_vendas['Codigo_PDV_2'].astype(object)
detalhe_de_vendas['Latitud'] = detalhe_de_vendas['Latitud'].astype(object)
detalhe_de_vendas['nLongitud'] = detalhe_de_vendas['nLongitud'].astype(object)
detalhe_de_vendas['Codigo_Tipo_de_Negocio_PDV'] = detalhe_de_vendas['Codigo_Tipo_de_Negocio_PDV'].astype(object)
detalhe_de_vendas['Codigo_Cluster_PDV'] = detalhe_de_vendas['Codigo_Cluster_PDV'].astype(object)
detalhe_de_vendas['codigo_de_Tipo_de_Ruta'] = detalhe_de_vendas['codigo_de_Tipo_de_Ruta'].astype(object)
detalhe_de_vendas['orden_de_visita_realizada'] = detalhe_de_vendas['orden_de_visita_realizada'].astype(object)
detalhe_de_vendas['Numero_de_Documento_Legal'] = detalhe_de_vendas['Numero_de_Documento_Legal'].astype(object)
detalhe_de_vendas['Cod_Combo'] = detalhe_de_vendas['Cod_Combo'].astype(object)
detalhe_de_vendas['Descripcion_Combo'] = detalhe_de_vendas['Descripcion_Combo'].astype(object)
detalhe_de_vendas['Cant_Combo'] = detalhe_de_vendas['Cant_Combo'].astype(object)
detalhe_de_vendas['Cod_Surtido'] = detalhe_de_vendas['Cod_Surtido'].astype(object)
detalhe_de_vendas['Descripcion_Surtido'] = detalhe_de_vendas['Descripcion_Surtido'].astype(object)
detalhe_de_vendas['Cant_Surtido'] = detalhe_de_vendas['Cant_Surtido'].astype(object)
detalhe_de_vendas['Cod_Articulo_MDLZ'] = detalhe_de_vendas['Cod_Articulo_MDLZ'].astype(object)
detalhe_de_vendas['Cod_Articulo_SAP'] = detalhe_de_vendas['Cod_Articulo_SAP'].astype(object)
detalhe_de_vendas['Cod_Articulo_SAP'] = detalhe_de_vendas['Cod_Articulo_SAP'].astype(object)



# detalhe_de_vendas['Real_DISPLAYS'] = detalhe_de_vendas['Real_DISPLAYS'].str.replace('.','')
# detalhe_de_vendas['Real_DISPLAYS'] = detalhe_de_vendas['Real_DISPLAYS'].str.replace(',','.')
# detalhe_de_vendas['Real_DISPLAYS'] = detalhe_de_vendas['Real_DISPLAYS'].astype(float)

# detalhe_de_vendas['Precio_Display'] = detalhe_de_vendas['Real_DISPLAYS'].str.replace('.','')
# detalhe_de_vendas['Precio_Display'] = detalhe_de_vendas['Real_DISPLAYS'].str.replace(',','.')
# detalhe_de_vendas['Precio_Display'] = detalhe_de_vendas['Real_DISPLAYS'].astype(float)

C:\Users\dfurukawa\AppData\Local\Temp\ipykernel_9680\4068736779.py:1: DtypeWarning: Columns (18,37,39,40,49,50,51,52,53,54,55,56,57,58,59) have mixed types. Specify dtype option on import or set low_memory=False.
  detalhe_de_vendas = pd.read_csv(path_detalhe_de_vendas, sep=",")

# Detalhe de Vendas - Informações sobre a tabela

In [51]:
#detalhe_de_vendas.info()

# Detalhe de Vendas - Totalizando Faturamento

In [52]:
table_dv =  pd.DataFrame({
                    'Codigo_Asesor': detalhe_de_vendas['Codigo_Asesor']
                    ,'Nombre_Asesor': detalhe_de_vendas['Codigo_Asesor']
                    ,'Codigo_Vendedor': detalhe_de_vendas['Codigo_Vendedor']
                    ,'Nombre_Vendedor': detalhe_de_vendas['Nombre_Vendedor']
                    ,'Codigo_Zona_Ruta': detalhe_de_vendas['Codigo_Zona_Ruta']
                    ,'Venta_SO_ML_sin_IVA': detalhe_de_vendas['Venta_SO_ML_sin_IVA']
                    #})
                    #}).sum()
                    }).groupby(['Codigo_Asesor','Nombre_Asesor','Codigo_Vendedor','Nombre_Vendedor','Codigo_Zona_Ruta']).sum()
table_dv = table_dv.rename(columns={'Venta_SO_ML_sin_IVA': 'Venta_SO_ML_sin_IVA_DV'})
#table_dv.info()
display(table_dv)

                                                                                             Venta_SO_ML_sin_IVA_DV
Codigo_Asesor Nombre_Asesor Codigo_Vendedor Nombre_Vendedor                Codigo_Zona_Ruta
8             8             31002048        Henry Buitrago APOLO A3        C001C020805                   3647950.37
                            31003343        Nancy Carvajal APOLO A4        C001C020806                   2770887.02
                            31004066        Carlos Arturo Ramirez APOLO A1 C001C020802                   3960032.47
                            31004209        ADRIANA HINCAPIE               C001C021121                   3679963.94
                            31004380        Milena Marin                   C001C020803                   2105743.02
...                                                                                                             ...
108           108           31007057        Dayana Ortiz APOLO A7          C001C020513                   2982825.45
                            31007232        Miriam Villegas APOLO B1       C001C015106                   1983334.15
                            31007234        Viviana Cuatindioy APOLO B3    C001C015102                   1872352.95
                            31007235        Luz Suarez APOLO B5            C001C015104                   1733067.34
                            31007236        Nancy Pineda APOLO B6          C001C015107                    562899.21

[244 rows x 1 columns]

# Detalhe de Vendas - Verificando se existem valores em Branco = ISNULL

In [53]:
table_dv[table_dv.Venta_SO_ML_sin_IVA_DV.isna()]

Empty DataFrame
Columns: [Venta_SO_ML_sin_IVA_DV]
Index: []

# Juntando Tabelas

In [54]:
df_Main_Incentivos =  pd.DataFrame({
    'Codigo_Vendedor': incentivosfamilia['Codigo_Vendedor']
    ,'Nombre_Vendedor': incentivosfamilia['Nombre_Vendedor']                
    ,'Codigo_Zona_Ruta': incentivosfamilia['Codigo_Zona_Ruta']
    ,'Codigo_Asesor': incentivosfamilia['Codigo_Asesor']
    ,'Nombre_Asesor': incentivosfamilia['Codigo_Asesor']                    
    })


df_Main_Incentivos = df_Main_Incentivos.set_index('Codigo_Vendedor')

df_Main_Incentivos.drop_duplicates(inplace=True)

df_Main_Incentivos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 242 entries, 31002788 to 31003718
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre_Vendedor   242 non-null    object
 1   Codigo_Zona_Ruta  242 non-null    object
 2   Codigo_Asesor     242 non-null    object
 3   Nombre_Asesor     242 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [55]:
df_Main_Incentivos.to_excel("IncentivosFamilia_Sem_Valor.xlsx")

In [56]:
df_Main_DetalheVentas =  pd.DataFrame({
    'Codigo_Vendedor': detalhe_de_vendas['Codigo_Vendedor']
    ,'Nombre_Vendedor': detalhe_de_vendas['Nombre_Vendedor']                
    ,'Codigo_Zona_Ruta': detalhe_de_vendas['Codigo_Zona_Ruta']
    ,'Codigo_Asesor': detalhe_de_vendas['Codigo_Asesor']
    ,'Nombre_Asesor': detalhe_de_vendas['Codigo_Asesor']                    
    })

df_Main_DetalheVentas = df_Main_DetalheVentas.set_index('Codigo_Vendedor')

df_Main_DetalheVentas.drop_duplicates(inplace=True)

df_Main_DetalheVentas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 244 entries, 31002022 to 31003857
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre_Vendedor   244 non-null    object
 1   Codigo_Zona_Ruta  244 non-null    object
 2   Codigo_Asesor     244 non-null    object
 3   Nombre_Asesor     244 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [57]:
df_Main_DetalheVentas.to_excel("DetalheVentas_Sem_Valor.xlsx")

In [58]:
df_merged = df_Main_Incentivos.merge(df_Main_DetalheVentas, on='Codigo_Vendedor', how='outer')

df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 244 entries, 31002788 to 31003857
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nombre_Vendedor_x   242 non-null    object
 1   Codigo_Zona_Ruta_x  242 non-null    object
 2   Codigo_Asesor_x     242 non-null    object
 3   Nombre_Asesor_x     242 non-null    object
 4   Nombre_Vendedor_y   244 non-null    object
 5   Codigo_Zona_Ruta_y  244 non-null    object
 6   Codigo_Asesor_y     244 non-null    object
 7   Nombre_Asesor_y     244 non-null    object
dtypes: object(8)
memory usage: 17.2+ KB

In [59]:
df_merged.isna().sum()

Nombre_Vendedor_x     2
Codigo_Zona_Ruta_x    2
Codigo_Asesor_x       2
Nombre_Asesor_x       2
Nombre_Vendedor_y     0
Codigo_Zona_Ruta_y    0
Codigo_Asesor_y       0
Nombre_Asesor_y       0
dtype: int64

In [60]:
df_merged = df_merged.reset_index()
df_merged.to_excel("Merge.xlsx")

In [61]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Codigo_Vendedor     244 non-null    int64
 1   Nombre_Vendedor_x   242 non-null    object
 2   Codigo_Zona_Ruta_x  242 non-null    object
 3   Codigo_Asesor_x     242 non-null    object
 4   Nombre_Asesor_x     242 non-null    object
 5   Nombre_Vendedor_y   244 non-null    object
 6   Codigo_Zona_Ruta_y  244 non-null    object
 7   Codigo_Asesor_y     244 non-null    object
 8   Nombre_Asesor_y     244 non-null    object
dtypes: int64(1), object(8)
memory usage: 17.3+ KB

In [62]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Codigo_Vendedor     244 non-null    int64
 1   Nombre_Vendedor_x   242 non-null    object
 2   Codigo_Zona_Ruta_x  242 non-null    object
 3   Codigo_Asesor_x     242 non-null    object
 4   Nombre_Asesor_x     242 non-null    object
 5   Nombre_Vendedor_y   244 non-null    object
 6   Codigo_Zona_Ruta_y  244 non-null    object
 7   Codigo_Asesor_y     244 non-null    object
 8   Nombre_Asesor_y     244 non-null    object
dtypes: int64(1), object(8)
memory usage: 17.3+ KB

In [63]:
df_Final =  pd.DataFrame({
    'Codigo_Vendedor': df_merged['Codigo_Vendedor']
    ,'Nombre_Vendedor': df_merged['Nombre_Vendedor_x']                
    ,'Codigo_Zona_Ruta': df_merged['Codigo_Zona_Ruta_x']
    ,'Codigo_Asesor': df_merged['Codigo_Asesor_x']
    ,'Nombre_Asesor': df_merged['Codigo_Asesor_x']                    
    })

In [64]:
df_Final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Codigo_Vendedor   244 non-null    int64
 1   Nombre_Vendedor   242 non-null    object
 2   Codigo_Zona_Ruta  242 non-null    object
 3   Codigo_Asesor     242 non-null    object
 4   Nombre_Asesor     242 non-null    object
dtypes: int64(1), object(4)
memory usage: 9.7+ KB

# Detalhe de Vendas - Somando valores por Vendedor

In [65]:
df_Final = df_Final.set_index('Codigo_Vendedor')

df_Final.drop_duplicates(inplace=True)

df_Final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 243 entries, 31002788 to 31001686
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre_Vendedor   242 non-null    object
 1   Codigo_Zona_Ruta  242 non-null    object
 2   Codigo_Asesor     242 non-null    object
 3   Nombre_Asesor     242 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [66]:

df_Final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 243 entries, 31002788 to 31001686
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre_Vendedor   242 non-null    object
 1   Codigo_Zona_Ruta  242 non-null    object
 2   Codigo_Asesor     242 non-null    object
 3   Nombre_Asesor     242 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [67]:

df_Final['Venta_SO_ML_sin_IVA_DV'] =  pd.DataFrame({'Codigo_Vendedor': detalhe_de_vendas['Codigo_Vendedor']
                          ,'Venta_SO_ML_sin_IVA': detalhe_de_vendas['Venta_SO_ML_sin_IVA']
                    }).groupby(['Codigo_Vendedor']).sum()

In [68]:

display(df_Final)

,Nombre_Vendedor,Codigo_Zona_Ruta,Codigo_Asesor,Nombre_Asesor,Venta_SO_ML_sin_IVA_DV
Codigo_Vendedor,,,,,
31002788,Albeiro Lozada,C001C014901,49,49,4397288.04
31002730,Jhon Olaya,C001C014902,49,49,4069012.66
31006935,Yorley Palomino,C001C014903,49,49,3169375.90
31004260,Claudia Cifuentes,C001C014904,49,49,5039250.36
31004726,Ana Maria Toro,C001C014905,49,49,2894260.75
...,...,...,...,...,...
31003073,Yilena Patricia Berdugo Barragan,C007C089237,45,45,8223699.59
31001802,Lady Carmona (P),C007C089238,45,45,18772026.25
31001817,Erika Roldan (P),C007C089239,45,45,7512690.93
31003718,Jairo Alberto Loza Barrera,C007C089240,45,45,12351388.02
31001686,NaN,NaN,NaN,NaN,0.00

# Incentivos Familia - Somando valores por Vendedor

In [69]:

df_Final['Venta_SO_ML_sin_IVA_IF'] =  pd.DataFrame({'Codigo_Vendedor': incentivosfamilia['Codigo_Vendedor']
                          ,'Venta_SO_ML_sin_IVA': incentivosfamilia['Venta_SO_ML_sin_IVA']
                    }).groupby(['Codigo_Vendedor']).sum()

In [70]:
#df_Final.info()

display(df_Final)

,Nombre_Vendedor,Codigo_Zona_Ruta,Codigo_Asesor,Nombre_Asesor,Venta_SO_ML_sin_IVA_DV,Venta_SO_ML_sin_IVA_IF
Codigo_Vendedor,,,,,,
31002788,Albeiro Lozada,C001C014901,49,49,4397288.04,4.397288e+06
31002730,Jhon Olaya,C001C014902,49,49,4069012.66,4.069013e+06
31006935,Yorley Palomino,C001C014903,49,49,3169375.90,3.169376e+06
31004260,Claudia Cifuentes,C001C014904,49,49,5039250.36,5.039250e+06
31004726,Ana Maria Toro,C001C014905,49,49,2894260.75,2.894261e+06
...,...,...,...,...,...,...
31003073,Yilena Patricia Berdugo Barragan,C007C089237,45,45,8223699.59,8.223700e+06
31001802,Lady Carmona (P),C007C089238,45,45,18772026.25,1.877203e+07
31001817,Erika Roldan (P),C007C089239,45,45,7512690.93,7.512691e+06
31003718,Jairo Alberto Loza Barrera,C007C089240,45,45,12351388.02,1.235139e+07
31001686,NaN,NaN,NaN,NaN,0.00,NaN

In [71]:

df_Final = df_Final.fillna(0)

df_Final['Diff'] = df_Final['Venta_SO_ML_sin_IVA_DV'] - df_Final['Venta_SO_ML_sin_IVA_IF']

In [72]:
df_Final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 243 entries, 31002788 to 31001686
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Nombre_Vendedor         243 non-null    object
 1   Codigo_Zona_Ruta        243 non-null    object
 2   Codigo_Asesor           243 non-null    int64
 3   Nombre_Asesor           243 non-null    int64
 4   Venta_SO_ML_sin_IVA_DV  243 non-null    float64
 5   Venta_SO_ML_sin_IVA_IF  243 non-null    float64
 6   Diff                    243 non-null    float64
dtypes: float64(3), int64(2), object(2)
memory usage: 15.2+ KB

In [73]:
display(df_Final)

,Nombre_Vendedor,Codigo_Zona_Ruta,Codigo_Asesor,Nombre_Asesor,Venta_SO_ML_sin_IVA_DV,Venta_SO_ML_sin_IVA_IF,Diff
Codigo_Vendedor,,,,,,,
31002788,Albeiro Lozada,C001C014901,49,49,4397288.04,4.397288e+06,0.000000e+00
31002730,Jhon Olaya,C001C014902,49,49,4069012.66,4.069013e+06,4.656613e-10
31006935,Yorley Palomino,C001C014903,49,49,3169375.90,3.169376e+06,9.999983e-05
31004260,Claudia Cifuentes,C001C014904,49,49,5039250.36,5.039250e+06,0.000000e+00
31004726,Ana Maria Toro,C001C014905,49,49,2894260.75,2.894261e+06,3.999998e-04
...,...,...,...,...,...,...,...
31003073,Yilena Patricia Berdugo Barragan,C007C089237,45,45,8223699.59,8.223700e+06,9.000000e-02
31001802,Lady Carmona (P),C007C089238,45,45,18772026.25,1.877203e+07,5.250000e-02
31001817,Erika Roldan (P),C007C089239,45,45,7512690.93,7.512691e+06,9.500000e-02
31003718,Jairo Alberto Loza Barrera,C007C089240,45,45,12351388.02,1.235139e+07,7.250000e-02
31001686,0,0,0,0,0.00,0.000000e+00,0.000000e+00

In [78]:
#fecha = 

df_Final = df_Final.set_index('Codigo_Vendedor')
df_Final.drop_duplicates(inplace=True)
df_Final.to_excel("Result.xlsx")

In [79]:
total_dv = table_dv['Venta_SO_ML_sin_IVA_DV'].sum()
display(total_dv)

total_if = table_if['Venta_SO_ML_sin_IVA_IF'].sum()
display(total_if)

diff = total_dv - total_if
display(diff)

865426486.9099998

865426483.0509999

3.8589999675750732

In [80]:
diff_faturamento = diff
#display(diff_faturamento)

if diff_faturamento < 0:
  diff_faturamento * (-1)
else:
  diff_faturamento

print('Incentivos Familia: ' + str(total_if))
print('Detalhe de Vendas: ' + str(total_dv))

if diff_faturamento > nStartFaturamento:
    print('Analisando faturamento entre os 2 reportes temos uma diferença de ' + str(diff_faturamento) + ' **Deu merda** Avisa Geral!!!')
else:
    print('Analisando faturamento entre os 2 reportes temos uma diferença de ' + str(diff_faturamento) + ' Ta de boa!!! pode ir pro café')

Incentivos Familia: 865426483.0509999
Detalhe de Vendas: 865426486.9099998
Analisando faturamento entre os 2 reportes temos uma diferença de 3.8589999675750732 Ta de boa!!! pode ir pro café

In [81]:
df_merged_vendedor = df_Final.loc[(df_Final['Diff'] >= nStart) | (df_Final['Diff'] <= nStart2)]

diff_vendedor = int(df_merged_vendedor[['Diff']].count())

#display(diff_vendedor)
print('Segundo os paramentros aplicados temos ' + str(diff_vendedor) + ' vendedores com diferenças consideraveis de faturamento após comparar os 2 reportes')

Segundo os paramentros aplicados temos 0 vendedores com diferenças consideraveis de faturamento após comparar os 2 reportes

C:\Users\dfurukawa\AppData\Local\Temp\ipykernel_9680\416251396.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  diff_vendedor = int(df_merged_vendedor[['Diff']].count())